.level-runaway-keyhole .chest {
    margin: 1em auto;
    background-color: #B4966E;
    width: 600px;
    height: 300px;
    position: relative;
    border-radius: 50px 50px 3px 3px;
}

.level-runaway-keyhole .chest .keyhole {
    position: relative;
    top: 100px;
    right: 15px;
    text-align: center;
}

.level-runaway-keyhole .chest input {
    position: relative;
    left: 30px;
}

.level-runaway-keyhole .chest label {
    background-color: #272822;
    color: #f8f8f2;
    padding: 5px 15px 5px 30px;
}
