.level1 .chest {
    margin: 0 auto;
    background-color: #d2b48c;
    width: 600px;
    height: 300px;
    position: relative;
}

.level1 .chest .keyhole {
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.level1 .chest input {
    position: relative;
}
