html, body {
    height: 100%;
}

#container, #puzzlePane, #editorPane, #flavorText {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    padding-bottom: 20px;
    height: 98%;
    position: relative;
}

#flavorText {
    width: 100%;
    font: 1em/1.8 'Roboto Slab', serif;
    border-bottom: 1px black solid;
    padding: 0 0.5em;
}

#puzzlePane, #editorPane {
    float: left;
    width: 50%;
    height: 100%;
}

#editorPane .CodeMirror { height: 100%; }

.CodeMirror-lines .editable {
    background-color: #000;
    line-height: 1.5;
}

#puzzlePane {
    border-right: 1px black solid;
    font: 2em/1.5 'Roboto Slab', serif;
    position: relative;
}

#puzzlePane button {
    background-color: #272822;
    color: #f8f8f2;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
