html, body {
    height: 100%;
}

#container, #canvas, #editor {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    padding: 20px 0;
    height: 100%;
    position: relative;
}

#canvas, #editor {
    float: left;
    width: 50%;
    height: 100%;
}

#canvas {
    border-right: 1px black solid;
    font: 2em/1.5 'Roboto Slab', serif;
    position: relative;
}

.puzzle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

/* this should be level specific*/
.puzzle input {
    position: relative;
}
