html, body {
    height: 100%;
    font: 1em/1.5 'Roboto Slab', serif;
}

#container, #puzzlePane, #editorPane, #flavorText {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
    padding-bottom: 20px;
    height: 98%;
    position: relative;
}

#titleText {
    margin-bottom: 0;
}

#flavorText {
    width: 100%;
    border-bottom: 1px black solid;
    padding: 0 0.5em;
}

#puzzlePane, #editorPane {
    float: left;
    width: 50%;
    height: 100%;
}

#editorPane .CodeMirror { height: 100%; }

.CodeMirror-lines .editable {
    background-color: #000;
    line-height: 1.5;
}

#puzzlePane {
    border-right: 1px black solid;
    font: 2em/1.5 'Roboto Slab', serif;
    position: relative;
}

/* the single element we want to focus on: vertically/horizontally centered*/
#puzzlePane .main-focus {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}